<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.max.nightshift-2</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/max/.agents/cron/nightshift/nightshift.sh</string>
		<string>2</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/Users/max</string>
		<key>PATH</key>
		<string>/Users/max/Library/pnpm:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>RunAtLoad</key>
	<false/>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>1</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
	<key>StandardOutPath</key>
	<string>/Users/max/.cron-logs/nightshift-2.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/max/.cron-logs/nightshift-2.log</string>
</dict>
</plist>
